<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://15.15.11.129:81/ArcGis4.7/esri/css/main.css">
    <link rel="stylesheet" href="static/js/ele/index.css">
    <title>demo</title>
    <style>
        .formCenter {
            background-color: aquamarine;
            width: 50%;
            margin: 0 auto;
            border: solid 1px #ff0000
        }

        body {
            text-align: center;
            font-size: xx-large;
            padding: 5%;
        }

        td {
            padding: 20px;
        }
    </style>
</head>

<body>
    <body>
        <table class="formCenter">
            <tr>
                <td>
                    <a href="queryaddress">经纬度——>地名查询工具</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="village">疫情用户村级态势</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="highway">湖北籍入湘高速公路专题</a>
                </td>
            </tr>
        </table>
</body>

</html>